html {
  overflow-y: scroll;
}

.skip{
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  z-index: -999;
  overflow: hidden;
}

.skip:focus, .skip:active{
  background-color: #FFF6AB;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  border: 3px solid green;
  padding: 15px;
  display: grid;
  justify-content: center;
  transition: ease .5s;
  z-index: 999;
  overflow: auto;
}

a{
   color:#cdcdcd;
   text-decoration: none;
 }

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:active { text-decoration: none; }

body{
  font-family: 'Roboto', sans-serif;
  color: #cdcdcd;
  line-height: 20px;
  background-color: #212121;
}

h1{
  font-size: 24px;
  padding: 80px 0px;
  font-weight: normal;
}

h2{
  font-size: 18px;
  padding: 0px 0px 10px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

nav a{
  flex-grow: 1;
  float: left;
  background-color: transparent;
  text-align: center;
  padding: 14px 20px;
}

.listContainer{
  float: left;
  display: flex;
  flex: 1 0 0;
}

.listContainer img{
  width: 18px;
  height: 18px;
}

main{
  display: flex;
  flex-direction: row;
    justify-content: center;
}

.maintext{
  justify-content: center;
  flex-direction: column;
}

.maintext p{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  width: 480px;
  line-height: 175%;
}

.maintext h3{
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 120px;
}

.maintext img{
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

#landscape{
  width: 100%;
  max-width: 800px;
  height: auto;
}

#portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 24px 0px;
  text-align: center;
}


@media only screen and (max-device-width: 640px) {

  .listContainer img{
    width: 32.4px;
    height: 32.4px;
  }

  nav a{
    padding: 25.2px 36px;
  }

  .listContainer{
    font-size: 36px;
  }

  .maintext p{
    font-size: 36px;
    width: 600px;
  }

  .maintext h3{
    font-size: 36px;
  }

  footer{
    font-size: 36px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 43.2px 0px;
    text-align: center;
  }

}
